{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'student/css/index.css' %}"/>
</head>
<body>
    <h1>I am a student</h1>
    <h2>Name: {{ name }}</h2>
    <h2>Age: {{ age }}</h2>
    <img src="{% static 'student/images/ph1.png'%}">
    {% if age > 20 %}
    <h2>you are adult</h2>
    {% elif age == 10  %}
    <h2>you are ten old</h2>
    {% else %}
    <h2>you are child</h2>
    {% endif %}

    <table border = '1'>
           <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Marks</th>
                <th>Grade</th>
           </tr>
           {% for subject in marks %}
                <tr>
                    <td>{{ subject.id}}</td>
                    <td>{{ subject.subject}}</td>
                    <td>{{ subject.marks}}</td>
                    <td>
                          {% if subject.marks >= 90 %}
                           A+
                          {% elif subject.marks >= 80 %}
                           A-
                          {% elif subject.marks >= 70 %}
                           B+
                          {% elif subject.marks >= 60 %}
                           C+
                          {% elif subject.marks >= 50 %}
                           C-
                          {% elif subject.marks >= 40 %}
                           D
                          {% else %}
                           Fail
                          {% endif %}
                    </td>
                </tr>
            {% endfor %}

            <!--Filters in DTL-->
          

            <!--Add valute-->
            {{age | add:"2"}}
            <!--Add valute-->

            <h1>{{age | divisibleby:"2"}}</h1>
            <h1>{{"Hello World" | length}}</h1>
            <h1>{{"Hello World" | slice:"2:5"}}</h1>
            <h1>{{"Hello World" | slice:"::-1"}}</h1>
            <h1>{{Name | truncatewords:2}}</h1>
            <h1>{{Name | truncatechars:3}}</h1>
            <h3>{{1st|join:"//"}}</h3>
            <h3>{{dates | date:"d/m/y" }}</h3>
            
            

    </table>
</body>
</html>
