{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'student_profile'%}">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'teacher_profile'%}">Teacher</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav> 

    <h1>I am a student</h1>
    <h2>Name: {{ name }}</h2>
    <h2>Age: {{ age }}</h2>
    <img src="{% static 'student/images/photo2.jpg'%}">
    {% if age > 20 %}
    <h2>you are adult</h2>
    {% elif age == 10  %}
    <h2>you are ten old</h2>
    {% else %}
    <h2>you are child</h2>
    {% endif %}

    <table border = '1'>
           <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Marks</th>
                <th>Grade</th>
           </tr>
           {% for subject in marks %}
                <tr>
                    <td>{{ subject.id}}</td>
                    <td>{{ subject.subject}}</td>
                    <td>{{ subject.marks}}</td>
                    <td>
                          {% if subject.marks >= 90 %}
                           A+
                          {% elif subject.marks >= 80 %}
                           A-
                          {% elif subject.marks >= 70 %}
                           B+
                          {% elif subject.marks >= 60 %}
                           C+
                          {% elif subject.marks >= 50 %}
                           C-
                          {% elif subject.marks >= 40 %}
                           D
                          {% else %}
                           Fail
                          {% endif %}
                    </td>
                </tr>
            {% endfor %}

            <!--Filters in DTL-->
          

            <!--Add valute-->
            {{age | add:"2"}}
            <!--Add valute-->

            <h1>{{age | divisibleby:"2"}}</h1>
            <h1>{{"Hello World" | length}}</h1>
            <h1>{{"Hello World" | slice:"2:5"}}</h1>
            <h1>{{"Hello World" | slice:"::-1"}}</h1>
            <h1>{{Name | truncatewords:2}}</h1>
            <h1>{{Name | truncatechars:3}}</h1>
            <h3>{{1st|join:"//"}}</h3>
            <h3>{{dates | date:"d/m/y" }}</h3>
            
            

    </table>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>




